## Import dependencies

In [1]:
import pandas as pd
from geopandas import GeoDataFrame, points_from_xy
import geopandas as gpd
import time

from cartoframes import read_carto, to_carto
from cartoframes.auth import set_default_credentials, Credentials
from cartoframes.viz import *

from cartoframes.data.services import Isolines

from cartoframes.data.observatory import Catalog, Dataset
from cartoframes.data.observatory import Enrichment

from sqlalchemy import create_engine
from sqlalchemy import inspect

from path import Path
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

## CARTOframes

In [2]:
USER_NAME = 'alaina' #@param {type:"string"}
API_KEY = '67aba9210c40630d5e4d0dadcdb379e5589c9ab4' #@param {type:"string"}


set_default_credentials(
    username=USER_NAME,
    api_key=API_KEY
)

In [3]:
# search the carto data observatory for sociodemographic data
datasets = Catalog().country('usa').category('demographics').provider('usa_acs').datasets

You can find more entities with the Global country filter. To apply that filter run:
	Catalog().country('glo')

In [4]:
# set the acs sociodemographic data from 2013-2018 to a dictionary
dataset = Dataset.get('acs_sociodemogr_fd3ffe5e')
dataset.to_dict()

{'slug': 'acs_sociodemogr_fd3ffe5e',
 'name': 'Sociodemographics - United States of America (Census Block Group, 2016, 5yrs)',
 'description': 'The American Community Survey (ACS) is an ongoing survey that provides vital information on a yearly basis about the USA and its people. This dataset contains only a subset of the variables that have been deemed most relevant. More info: https://www.census.gov/programs-surveys/acs/about.html',
 'category_id': 'demographics',
 'country_id': 'usa',
 'data_source_id': 'sociodemographics',
 'provider_id': 'usa_acs',
 'geography_name': 'Census Block Group - United States of America (2015)',
 'geography_description': 'Shoreline clipped TIGER/Line boundaries. More info: https://carto.com/blog/tiger-shoreline-clip/',
 'temporal_aggregation': '5yrs',
 'time_coverage': '[2012-01-01, 2017-01-01)',
 'update_frequency': None,
 'is_public_data': True,
 'lang': 'eng',
 'version': '20122016',
 'category_name': 'Demographics',
 'provider_name': 'American Community Survey',
 'geography_id': 'carto-do-public-data.carto.geography_usa_blockgroup_2015',
 'id': 'carto-do-public-data.usa_acs.demographics_sociodemographics_usa_blockgroup_2015_5yrs_20122016'}

In [5]:
# turn dictionary to dataframe
acs_df = dataset.to_dataframe()

In [6]:
acs_df.head()

,geoid,do_date,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,...,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,employed_pop,unemployed_pop,pop_in_labor_force,not_in_labor_force,armed_forces,civilian_labor_force
0,360710119004,2012-01-01,350.0,83.0,109.0,241.0,83.5,0.0,0.0,0.0,...,122.0,20.0,11.0,46.0,0.0,0.0,0.0,350.0,0.0,0.0
1,340076113001,2012-01-01,382.0,29.0,183.0,199.0,77.1,0.0,9.0,0.0,...,180.0,0.0,0.0,8.0,0.0,0.0,0.0,362.0,0.0,0.0
2,481130078222,2012-01-01,150.0,120.0,44.0,106.0,87.9,0.0,0.0,0.0,...,40.0,3.0,4.0,49.0,0.0,0.0,0.0,150.0,0.0,0.0
3,360050144001,2012-01-01,280.0,206.0,140.0,140.0,74.2,0.0,0.0,16.0,...,77.0,32.0,0.0,17.0,0.0,0.0,0.0,264.0,0.0,0.0
4,530050112006,2012-01-01,167.0,167.0,35.0,132.0,72.2,0.0,0.0,0.0,...,13.0,24.0,0.0,47.0,0.0,0.0,0.0,167.0,0.0,0.0

## Use Sqlalchemy to connect to postgres database

In [7]:
engine = create_engine("postgresql://postgres:Apo20llo!@localhost:5432/final_project", echo = True)
connection = engine.connect()

2021-07-18 15:21:47,874 INFO sqlalchemy.engine.base.Engine select version()
select version()
2021-07-18 15:21:47,877 INFO sqlalchemy.engine.base.Engine {}
{}
2021-07-18 15:21:47,926 INFO sqlalchemy.engine.base.Engine select current_schema()
select current_schema()
2021-07-18 15:21:47,929 INFO sqlalchemy.engine.base.Engine {}
{}
2021-07-18 15:21:47,951 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-07-18 15:21:47,955 INFO sqlalchemy.engine.base.Engine {}
{}
2021-07-18 15:21:47,962 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-07-18 15:21:47,965 INFO sqlalchemy.engine.base.Engine {}
{}
2021-07-18 15:21:47,972 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
show standard_conforming_strings
2021-07-18 15:21:47,976 INFO sqlalchemy.engine.base.Engine {}
{}

In [8]:
inspector = inspect(engine)
inspector.get_table_names()

2021-07-18 15:21:48,096 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2021-07-18 15:21:48,100 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
{'schema': 'public'}

['mastercard_data', 'BAD']

In [9]:
# Query All Records in the the Database
mastercard_df = pd.read_sql("SELECT * FROM mastercard_data", connection)
mastercard_df.head()

2021-07-18 15:21:48,289 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-07-18 15:21:48,293 INFO sqlalchemy.engine.base.Engine {'name': 'SELECT * FROM mastercard_data'}
{'name': 'SELECT * FROM mastercard_data'}
2021-07-18 15:21:48,300 INFO sqlalchemy.engine.base.Engine SELECT * FROM mastercard_data
SELECT * FROM mastercard_data
2021-07-18 15:21:48,307 INFO sqlalchemy.engine.base.Engine {}
{}

,the_geom,geoid,industry,txn_amt
0,0106000020E61000000100000001030000000100000006...,360610048002,gro,0.0
1,0106000020E6100000010000000103000000010000000B...,360610044001,app,0.0
2,0106000020E6100000010000000103000000010000000B...,360610044001,ret,0.0
3,0106000020E6100000010000000103000000010000000B...,360610044001,gro,0.0
4,0106000020E6100000010000000103000000010000000B...,360610044001,gro,0.0

## Join the sociodemographic and mastercard datasets

In [10]:
# set variables
variables = Catalog().country('usa').category('demographics').provider('usa_acs').datasets[275].variables

You can find more entities with the Global country filter. To apply that filter run:
	Catalog().country('glo')

In [11]:
gdf_enrich = Enrichment().enrich_points(mastercard_df, variables, geom_col='the_geom')

In [12]:
# filter dataset for only retail category data
gdf_enrich_retail = gdf_enrich.loc[gdf_enrich['industry'] == 'ret']

# drop unecessary columns
gdf_enrich_retail.drop(['the_geom', 'industry', 'do_date'], axis=1, inplace = True)

# drop nas
gdf_enrich_retail.dropna(inplace=True)

C:\Users\candy\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

NumExpr defaulting to 8 threads.

C:\Users\candy\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## Preprocessing Process:
1. Define the features set
2. Define the target set
3. Split into training and testing sets
4. Create a StandardScaler instance
5. Fit the StandardScaler
6. Scale the data

In [209]:
# Define the features set.
X = gdf_enrich_retail.copy()
X = X.drop("txn_amt", axis=1)

In [210]:
# Define the target set.
# the ravel() method performs the 
# same procedure on our target set data as the values attribute.
y = gdf_enrich_retail["txn_amt"].ravel()
y[:5]

array([  0.  , 152.38, 124.44,  99.17,   0.  ])

In [211]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=20)

In [212]:
# Creating a StandardScaler instance.
scaler = StandardScaler()

# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Random Forest Model

In [213]:
# Create a random forest classifier.
# n_estimators will allow us to set the number of trees that will be created by the algorithm
# The best practice is to use between 64 and 128 random forests, though higher numbers are quite common despite the higher training time.
rf_model = RandomForestRegressor(n_estimators=1000, random_state =20)

In [214]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [215]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [216]:
# Calculating the accuracy score.
score_train = rf_model.score(X_train_scaled, y_train)
score_train

0.5469677772115336

In [217]:
score_test = rf_model.score(X_test_scaled, y_test)
score_test

0.4717196378133611

In [218]:
# We can sort the features by their importance.
# To improve this model, we can drop some of the lower ranked features.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.8652552871654087, 'geoid_x'),
 (0.006344796510272955, 'walked_to_work'),
 (0.006276432806042512,
  'father_in_labor_force_one_parent_families_with_young_children'),
 (0.006087395439753159, 'male_22_to_24'),
 (0.0058578563807380486, 'female_21'),
 (0.005709191041775083, 'father_one_parent_families_with_young_children'),
 (0.0054808070370647045, 'housing_built_1939_or_earlier'),
 (0.0052975405112266815, 'female_20'),
 (0.00519915295174686, 'armed_forces'),
 (0.005158409754238289, 'female_22_to_24'),
 (0.004606579879718473, 'male_45_64_associates_degree'),
 (0.002216395608161947,
  'two_parents_mother_in_labor_force_families_with_young_children'),
 (0.002145408526634682, 'male_18_to_19'),
 (0.0016498896598594551, 'median_rent'),
 (0.0015919040602648889,
  'renter_occupied_housing_units_paying_cash_median_gross_rent'),
 (0.0014867737940709154, 'in_undergrad_college'),
 (0.0013958056462175644, 'female_18_to_19'),
 (0.0013046927167102633, 'group_quarters'),
 (0.0012787270195107742, 'geoid_y'),
 (0.000759355288100065, 'one_parent_families_with_young_children'),
 (0.0007215793171360535, 'dwellings_5_to_9_units'),
 (0.0006693582166974398, 'rent_15_to_20_percent'),
 (0.0006672695727550395, 'different_house_year_ago_same_city'),
 (0.000639782301536924, 'dwellings_10_to_19_units'),
 (0.000639071500959537, 'male_pop'),
 (0.0006253298436958249, 'children_in_single_female_hh'),
 (0.0006136971446104162, 'employed_construction'),
 (0.000608520859814203, 'mobile_homes'),
 (0.0006033423581036104, 'employed_retail_trade'),
 (0.0005978894678549735, 'male_20'),
 (0.0005889296777108183,
  'employed_arts_entertainment_recreation_accommodation_food'),
 (0.0005882874527895248, 'rent_35_to_40_percent'),
 (0.0005753206273141271, 'in_grades_9_to_12'),
 (0.0005751024836481159, 'do_area'),
 (0.00057276789779883, 'male_30_to_34'),
 (0.0005561646025427095, 'gini_index'),
 (0.0005477599626177581, 'less_than_high_school_graduate'),
 (0.0005399491162052109, 'employed_pop'),
 (0.0005388809505268635, 'speak_spanish_at_home_low_english'),
 (0.0005302189205403871, 'income_25000_29999'),
 (0.0005288479684687398, 'hispanic_male_55_64'),
 (0.0005275940108475469, 'owner_occupied_housing_units_upper_value_quartile'),
 (0.000523243574506888,
  'two_parents_not_in_labor_force_families_with_young_children'),
 (0.0005219679452461426, 'some_college_and_associates_degree'),
 (0.0005151592392420486, 'dwellings_3_to_4_units'),
 (0.0005143801029365732, 'male_40_to_44'),
 (0.0004982571201738828, 'civilian_labor_force'),
 (0.0004978627168664164, 'hispanic_any_race'),
 (0.0004974314367911564, 'female_10_to_14'),
 (0.0004961841544228252, 'pop_in_labor_force'),
 (0.0004887115608989942, 'commute_less_10_mins'),
 (0.000482705193021066, 'occupation_sales_office'),
 (0.0004798465114865984, 'male_65_to_66'),
 (0.0004784245696474077, 'households_public_asst_or_food_stamps'),
 (0.00046500418329934416, 'male_45_64_bachelors_degree'),
 (0.0004616764101519276, 'male_35_to_39'),
 (0.0004570261644068423, 'in_school'),
 (0.0004539496201975857, 'housing_built_2005_or_later'),
 (0.0004536780408539335, 'income_50000_59999'),
 (0.00045035503826468807, 'housing_units_renter_occupied'),
 (0.0004461914628524715, 'pop_16_over'),
 (0.00044365277505586324, 'black_pop'),
 (0.0004400122525123873, 'male_25_to_29'),
 (0.0004384045179343231, 'pop_determined_poverty_status'),
 (0.0004314932382424469, 'population_3_years_over'),
 (0.0004301547579930948, 'white_male_45_54'),
 (0.0004259878325077864, 'commute_60_more_mins'),
 (0.0004217405413823711, 'vacant_housing_units'),
 (0.0004148984171105057,
  'employed_agriculture_forestry_fishing_hunting_mining'),
 (0.00041411993977934105, 'asian_male_55_64'),
 (0.00040700858389306426, 'male_45_64_some_college'),
 (0.00040118654174597614, 'male_45_to_64'),
 (0.0003994673572164247, 'amerindian_pop'),
 (0.00039884448815374863, 'two_or_more_races_pop'),
 (0.0003983872144992396, 'two_cars'),
 (0.0003979148394612467, 'income_15000_19999'),
 (0.00039744145679680297, 'hispanic_male_45_54'),
 (0.00039675757988935975, 'dwellings_1_units_detached'),
 (0.0003967400412523904, 'population_1_year_and_over'),
 (0.00039589217288511303, 'high_school_diploma'),
 (0.0003900097078197359, 'income_less_10000'),
 (0.00038735708807063543, 'dwellings_1_units_attached'),
 (0.0003849073902847301, 'rent_20_to_25_percent'),
 (0.00037905658810214685, 'children'),
 (0.00037393706174384855, 'employed_transportation_warehousing_utilities'),
 (0.00037224771144328534, 'occupation_services'),
 (0.00036254116059990823, 'employed_manufacturing'),
 (0.0003561530030854126, 'households'),
 (0.00035469397774154127, 'employed_science_management_admin_waste'),
 (0.0003536423969530961, 'male_15_to_17'),
 (0.0003534427970314031, 'in_grades_5_to_8'),
 (0.0003494409791510789, 'male_10_to_14'),
 (0.0003491016082736147, 'other_race_pop'),
 (0.0003474255688705304, 'percent_income_spent_on_rent'),
 (0.000345775876301542, 'unemployed_pop'),
 (0.0003422412873333385, 'employed_wholesale_trade'),
 (0.0003421661995905334, 'poverty'),
 (0.0003416379847634812, 'commuters_16_over'),
 (0.0003381383188425563, 'income_35000_39999'),
 (0.0003380116986293761, 'income_10000_14999'),
 (0.0003364678469643039, 'owner_occupied_housing_units_lower_value_quartile'),
 (0.0003363730121391174, 'total_pop'),
 (0.0003344904619842442, 'bachelors_degree'),
 (0.00033421176721287304, 'white_male_55_64'),
 (0.00033334385098911094, 'aggregate_travel_time_to_work'),
 (0.0003310457299578307, 'housing_built_2000_to_2004'),
 (0.000330490776767628, 'vacant_housing_units_for_rent'),
 (0.00032619765313917227,
  'two_parents_father_in_labor_force_families_with_young_children'),
 (0.00032450296580924676, 'vacant_housing_units_for_sale'),
 (0.00032313509887536146, 'median_age'),
 (0.0003228558259267649, 'commute_10_14_mins'),
 (0.0003215301861109551, 'housing_units'),
 (0.00031905136202478265, 'nonfamily_households'),
 (0.000317531587708896, 'black_male_45_54'),
 (0.0003170254126920608, 'occupation_production_transportation_material'),
 (0.0003102550180766732, 'dwellings_20_to_49_units'),
 (0.0003100886275488562, 'asian_pop'),
 (0.0003083023057172782, 'no_cars'),
 (0.00030807959468632466, 'associates_degree'),
 (0.000305781047295755, 'married_households'),
 (0.0003034475314298791, 'in_grades_1_to_4'),
 (0.00030183858864143797, 'female_15_to_17'),
 (0.00029862522994044283, 'female_30_to_34'),
 (0.00029738681591144465, 'median_year_structure_built'),
 (0.0002912642374850722, 'male_67_to_69'),
 (0.0002835417589171962, 'bachelors_degree_or_higher_25_64'),
 (0.00028084836585535365, 'income_200000_or_more'),
 (0.00027972419963245257, 'income_per_capita'),
 (0.0002778979264951671, 'black_male_55_64'),
 (0.000276646443793086, 'income_45000_49999'),
 (0.00027355445521602445, 'male_55_to_59'),
 (0.0002725783070738176, 'income_30000_34999'),
 (0.0002719560687181151, 'dwellings_2_units'),
 (0.000271376581464272, 'male_85_and_over'),
 (0.0002708013724034652, 'commute_15_19_mins'),
 (0.0002698717142721524, 'hispanic_pop'),
 (0.00026884531008629803, 'high_school_including_ged'),
 (0.000266002653279602, 'rent_burden_not_computed'),
 (0.0002624612132168361, 'occupation_management_arts'),
 (0.0002591373348528478, 'four_more_cars'),
 (0.00025582413404651877, 'female_female_households'),
 (0.00025547777754210166, 'male_male_households'),
 (0.00025469352249799985, 'owner_occupied_housing_units_median_value'),
 (0.0002492274895246765, 'female_60_to_61'),
 (0.00024771237418848616, 'occupied_housing_units'),
 (0.00023739406660492856, 'pop_25_years_over'),
 (0.00023562720707033242, 'female_85_and_over'),
 (0.00023332858238529465, 'worked_at_home'),
 (0.00023232137288100438, 'male_5_to_9'),
 (0.00023123708995749018, 'rent_25_to_30_percent'),
 (0.00022729057655582142, 'employed_information'),
 (0.00022529505816367248, 'female_55_to_59'),
 (0.000225072077312835, 'pop_5_years_over'),
 (0.00022430139355324695, 'speak_spanish_at_home'),
 (0.00022201140063083828, 'female_62_to_64'),
 (0.0002198610368231597, 'male_45_64_less_than_9_grade'),
 (0.00021853894531605295, 'income_125000_149999'),
 (0.00021808151588764485, 'million_dollar_housing_units'),
 (0.00021789999414327925, 'female_35_to_39'),
 (0.00021686632640974168, 'income_20000_24999'),
 (0.0002117199076382656, 'female_5_to_9'),
 (0.00020874234193419172, 'families_with_young_children'),
 (0.0002085617466504935, 'sales_office_employed'),
 (0.0002076604325379404,
  'occupation_natural_resources_construction_maintenance'),
 (0.00020650437322553643, 'rent_40_to_50_percent'),
 (0.0002018342426945506, 'three_cars'),
 (0.00019975752298010899, 'male_45_to_49'),
 (0.00019809532370328701, 'rent_under_10_percent'),
 (0.0001974000192907873, 'two_parent_families_with_young_children'),
 (0.00019051384780160505, 'masters_degree'),
 (0.0001892037448963818, 'commuters_by_carpool'),
 (0.0001890341429638967, 'owner_occupied_housing_units'),
 (0.00018812481340273125, 'income_150000_199999'),
 (0.00018641497715858124, 'rent_30_to_35_percent'),
 (0.0001860825966572731, 'female_75_to_79'),
 (0.00018547581936049357, 'not_us_citizen_pop'),
 (0.00018082183952210172, 'male_75_to_79'),
 (0.00017892608315618977, 'not_hispanic_pop'),
 (0.00017877272047596012, 'female_65_to_66'),
 (0.0001774772086935047, 'commute_30_34_mins'),
 (0.0001774578665375344, 'male_21'),
 (0.00017701356064384177, 'income_75000_99999'),
 (0.00017617673645812878, 'male_70_to_74'),
 (0.00017276291751221982, 'commuters_by_public_transportation'),
 (0.000171969657295676, 'commuters_by_car_truck_van'),
 (0.000170035259181349, 'income_60000_74999'),
 (0.00016756651947032273, 'income_100000_124999'),
 (0.0001667613454598623, 'speak_only_english_at_home'),
 (0.00016601026604477992, 'commute_45_59_mins'),
 (0.00016500886652335124, 'no_car'),
 (0.00016141250575278957, 'male_45_64_grade_9_12'),
 (0.0001603838837757792, 'female_pop'),
 (0.0001600737722741953, 'rent_10_to_15_percent'),
 (0.00015734259405850506, 'female_70_to_74'),
 (0.00015530423673535193, 'female_80_to_84'),
 (0.0001550913427580963, 'employed_education_health_social'),
 (0.00015429077285439993, 'male_under_5'),
 (0.0001532665502363191, 'asian_male_45_54'),
 (0.0001523538123858329, 'male_45_64_high_school'),
 (0.00015178748942602305, 'commute_25_29_mins'),
 (0.00014591855246650398, 'workers_16_and_over'),
 (0.00014416345705055246, 'income_40000_44999'),
 (0.0001435398784898927, 'one_year_more_college'),
 (0.00014063288688174086, 'pop_25_64'),
 (0.00013902572566523383, 'female_67_to_69'),
 (0.00013802744086062387, 'bachelors_degree_2'),
 (0.00013576826462489335, 'male_45_64_graduate_degree'),
 (0.00013573437595667593, 'female_50_to_54'),
 (0.00013524758782484185, 'commuters_by_bus'),
 (0.00013308062562074886, 'employed_public_administration'),
 (0.00013103472568873443, 'commute_35_44_mins'),
 (0.00013075414990021294, 'not_in_labor_force'),
 (0.0001296449596506391, 'commuters_drove_alone'),
 (0.0001290325357928948, 'different_house_year_ago_different_city'),
 (0.00012862569213341836, 'one_car'),
 (0.00012558879173281726, 'commute_20_24_mins'),
 (0.00012488263489411844, 'family_households'),
 (0.00012232217912153592, 'dwellings_50_or_more_units'),
 (0.00012041324148008647, 'rent_over_50_percent'),
 (0.00011787256946698575, 'graduate_professional_degree'),
 (0.0001025258180047513, 'median_income'),
 (0.00010178239788107518, 'less_one_year_college'),
 (9.831648270452296e-05, 'female_under_5'),
 (9.780931596043444e-05, 'employed_other_services_not_public_admin'),
 (9.403740114890494e-05, 'female_25_to_29'),
 (9.006525009807739e-05, 'commuters_by_subway_or_elevated'),
 (8.040772015076983e-05, 'female_40_to_44'),
 (7.964195570820533e-05, 'male_80_to_84'),
 (7.842894244027675e-05, 'white_pop'),
 (6.75091937477245e-05, 'female_45_to_49'),
 (6.711698738104766e-05, 'mortgaged_housing_units'),
 (6.473491459827904e-05, 'male_50_to_54'),
 (6.012980223579885e-05,
  'two_parents_in_labor_force_families_with_young_children'),
 (5.337778347665102e-05, 'management_business_sci_arts_employed'),
 (4.0829867323837585e-05, 'employed_finance_insurance_real_estate')]

In [219]:
gdf_feature_selection = gdf_enrich_retail[['txn_amt','geoid_x','housing_built_1939_or_earlier',
                                          'father_in_labor_force_one_parent_families_with_young_children', 'female_21',
                                           'male_22_to_24', 'father_one_parent_families_with_young_children', 
                                           'walked_to_work', 'armed_forces', 'female_20', 'female_22_to_24', 
                                           'male_45_64_associates_degree', 'male_18_to_19', 
                                           'two_parents_mother_in_labor_force_families_with_young_children',
                                           'group_quarters', 'geoid_y', 'in_undergrad_college',
                                           'renter_occupied_housing_units_paying_cash_median_gross_rent', 'median_rent',
                                           'female_18_to_19', 'one_parent_families_with_young_children',
                                           'dwellings_3_to_4_units','owner_occupied_housing_units_upper_value_quartile',
                                           'dwellings_10_to_19_units','children_in_single_female_hh','employed_pop',
                                           'speak_spanish_at_home_low_english', 'rent_35_to_40_percent',
                                           'two_parents_not_in_labor_force_families_with_young_children',
                                           'income_50000_59999','vacant_housing_units','employed_construction','male_20',
                                           'mobile_homes','occupation_sales_office',
                                           'employed_agriculture_forestry_fishing_hunting_mining',
                                           'employed_arts_entertainment_recreation_accommodation_food',
                                           'vacant_housing_units_for_sale','gini_index','less_than_high_school_graduate',
                                           'male_40_to_44', 'pop_determined_poverty_status','employed_retail_trade',
                                           'vacant_housing_units_for_rent','white_male_45_54','male_67_to_69',
                                           'population_3_years_over', 'occupation_services',
                                           'two_parents_father_in_labor_force_families_with_young_children',
                                           'rent_15_to_20_percent', 'male_65_to_66','commute_less_10_mins',
                                           'asian_male_55_64','households','in_grades_5_to_8','hispanic_male_45_54',
                                           'in_grades_9_to_12','hispanic_male_55_64','poverty','do_area','male_25_to_29',
                                           'income_25000_29999','owner_occupied_housing_units_median_value',
                                           'dwellings_5_to_9_units','male_pop','male_45_64_some_college',
                                           'employed_manufacturing','two_or_more_races_pop','female_10_to_14',
                                           'hispanic_any_race','median_age','rent_20_to_25_percent',
                                           'occupation_production_transportation_material','housing_units','male_45_to_64',
                                           'income_15000_19999','income_less_10000','households_public_asst_or_food_stamps',
                                           'different_house_year_ago_same_city','population_1_year_and_over',
                                           'civilian_labor_force','amerindian_pop','male_30_to_34','commute_60_more_mins',
                                           'in_grades_1_to_4','housing_units_renter_occupied','percent_income_spent_on_rent',
                                           'some_college_and_associates_degree','male_45_64_bachelors_degree','black_pop',
                                           'occupied_housing_units','male_45_64_less_than_9_grade','high_school_diploma',
                                           'bachelors_degree','total_pop','housing_built_2005_or_later','white_male_55_64',
                                           'families_with_young_children','married_households','pop_in_labor_force',
                                           'male_35_to_39','bachelors_degree_or_higher_25_64','income_200000_or_more',
                                           'occupation_management_arts','dwellings_1_units_attached','unemployed_pop',
                                           'nonfamily_households','income_45000_49999','in_school','no_car',
                                           'rent_40_to_50_percent','employed_transportation_warehousing_utilities',
                                           'female_30_to_34','female_female_households','male_5_to_9','commute_15_19_mins',
                                           'high_school_including_ged','income_125000_149999','female_75_to_79',
                                           'hispanic_pop','commuters_by_public_transportation'
                                          ]]

## Run random forest model with selected features only

In [220]:
# Define the features set.
X1 = gdf_feature_selection.copy()
X1 = X1.drop("txn_amt", axis=1)

In [221]:
# Define the target set.
# the ravel() method performs the 
# same procedure on our target set data as the values attribute.
y1 = gdf_feature_selection["txn_amt"].ravel()
y1[:5]

array([  0.  , 152.38, 124.44,  99.17,   0.  ])

In [222]:
# Splitting into Train and Test sets.
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, random_state=20)

In [223]:
# Creating a StandardScaler instance.
scaler1 = StandardScaler()

# Fitting the Standard Scaler with the training data.
X_scaler1 = scaler1.fit(X_train1)

# Scaling the data.
X_train_scaled1 = X_scaler1.transform(X_train1)
X_test_scaled1 = X_scaler1.transform(X_test1)

In [224]:
# Create a random forest classifier.
# n_estimators will allow us to set the number of trees that will be created by the algorithm
# The best practice is to use between 64 and 128 random forests, though higher numbers are quite common despite the higher training time.
rf_model1 = RandomForestRegressor(n_estimators=1000, random_state =500)

In [225]:
# Fitting the model
rf_model1 = rf_model1.fit(X_train_scaled1, y_train1)

In [226]:
# Making predictions using the testing data.
predictions1 = rf_model1.predict(X_test_scaled1)

In [227]:
# Calculating the accuracy score.
score_train1 = rf_model1.score(X_train_scaled1, y_train1)
score_train1

0.5469858144816839

In [228]:
score_test1 = rf_model1.score(X_test_scaled1, y_test1)
score_test1

0.47272471504907476

## Run random forest model ran with reduced features

In [229]:
gdf_feature_selection_1 = gdf_enrich_retail[['txn_amt','geoid_x','housing_built_1939_or_earlier',
                                          'father_in_labor_force_one_parent_families_with_young_children', 'female_21',
                                           'male_22_to_24', 'father_one_parent_families_with_young_children', 
                                           'walked_to_work', 'armed_forces', 'female_20', 'female_22_to_24', 
                                           'male_45_64_associates_degree', 'male_18_to_19', 
                                           'two_parents_mother_in_labor_force_families_with_young_children',
                                           'group_quarters', 'geoid_y', 'in_undergrad_college',
                                           'renter_occupied_housing_units_paying_cash_median_gross_rent', 'median_rent',
                                           'female_18_to_19', 'one_parent_families_with_young_children',
                                           'dwellings_3_to_4_units','owner_occupied_housing_units_upper_value_quartile',
                                           'dwellings_10_to_19_units','children_in_single_female_hh','employed_pop',
                                           'speak_spanish_at_home_low_english', 'rent_35_to_40_percent',
                                           'two_parents_not_in_labor_force_families_with_young_children',
                                           'income_50000_59999','vacant_housing_units','employed_construction','male_20',
                                           'mobile_homes','occupation_sales_office',
                                           'employed_agriculture_forestry_fishing_hunting_mining',
                                           'employed_arts_entertainment_recreation_accommodation_food',
                                           'vacant_housing_units_for_sale','gini_index','less_than_high_school_graduate',
                                           'male_40_to_44', 'pop_determined_poverty_status'
                                          ]]

In [230]:
# Define the features set.
X2 = gdf_feature_selection_1.copy()
X2 = X2.drop("txn_amt", axis=1)

In [231]:
# Define the target set.
# the ravel() method performs the 
# same procedure on our target set data as the values attribute.
y2 = gdf_feature_selection_1["txn_amt"].ravel()
y2[:5]

array([  0.  , 152.38, 124.44,  99.17,   0.  ])

In [232]:
# Splitting into Train and Test sets.
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, random_state=20)

In [233]:
# Creating a StandardScaler instance.
scaler2 = StandardScaler()

# Fitting the Standard Scaler with the training data.
X_scaler2 = scaler2.fit(X_train2)

# Scaling the data.
X_train_scaled2 = X_scaler2.transform(X_train2)
X_test_scaled2 = X_scaler2.transform(X_test2)

In [234]:
# Create a random forest classifier.
# n_estimators will allow us to set the number of trees that will be created by the algorithm
# The best practice is to use between 64 and 128 random forests, though higher numbers are quite common despite the higher training time.
rf_model2 = RandomForestRegressor(n_estimators=1000, random_state =500)

In [235]:
# Fitting the model
rf_model2 = rf_model2.fit(X_train_scaled2, y_train2)

In [236]:
# Making predictions using the testing data.
predictions2 = rf_model2.predict(X_test_scaled2)

In [237]:
# Calculating the accuracy score.
score_train2 = rf_model2.score(X_train_scaled2, y_train2)
score_train2

0.5469858144816839

In [238]:
score_test2 = rf_model2.score(X_test_scaled2, y_test2)
score_test2

0.47272471504907476

## Linear Regression

In [196]:
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn import linear_model
import statsmodels.api as sm

In [197]:
 # format the data to meet the requirements of the Scikit-learn library
# The first argument of reshape() specifies the number of rows.
# Here, the argument is -1, and means that the number of rows is unspecified.
# Accordingly, the NumPy library will automatically identify the number of rows in the dataset.
# The second argument of reshape() refers to the number of columns.
# Here, the argument is 1, meaning that there is only one column of independent variables.
# capital X is standard naming convention for model inputs
X3 = gdf_feature_selection_1.copy()
X3 = X3.drop("txn_amt", axis=1)
X4 = X3.values.reshape(-1, 41)
X4[:2]

array([[3.60610044e+11, 1.25980000e+04, 2.56000000e+02, 1.60400000e+03,
        4.07200000e+03, 2.56000000e+02, 3.22730000e+04, 1.14000000e+02,
        1.29200000e+03, 6.28900000e+03, 9.71000000e+02, 1.38000000e+03,
        1.79000000e+02, 6.38000000e+03, 3.60380800e+06, 9.07200000e+03,
        2.18000000e+03, 2.10700000e+03, 1.94000000e+03, 5.38000000e+02,
        9.15000000e+02, 1.11880000e+06, 4.99100000e+03, 1.62200000e+03,
        9.44910000e+04, 1.32500000e+03, 3.08700000e+03, 0.00000000e+00,
        3.47600000e+03, 1.59350000e+04, 7.99000000e+02, 4.14000000e+02,
        1.40000000e+01, 1.87760000e+04, 0.00000000e+00, 7.11300000e+03,
        4.16000000e+02, 5.34200000e-01, 3.54400000e+03, 4.39000000e+03,
        1.41601000e+05],
       [3.60610044e+11, 1.25980000e+04, 2.56000000e+02, 1.60400000e+03,
        4.07200000e+03, 2.56000000e+02, 3.22730000e+04, 1.14000000e+02,
        1.29200000e+03, 6.28900000e+03, 9.71000000e+02, 1.38000000e+03,
        1.79000000e+02, 6.38000000e+03, 3.60380800e+06, 9.07200000e+03,
        2.18000000e+03, 2.10700000e+03, 1.94000000e+03, 5.38000000e+02,
        9.15000000e+02, 1.11880000e+06, 4.99100000e+03, 1.62200000e+03,
        9.44910000e+04, 1.32500000e+03, 3.08700000e+03, 0.00000000e+00,
        3.47600000e+03, 1.59350000e+04, 7.99000000e+02, 4.14000000e+02,
        1.40000000e+01, 1.87760000e+04, 0.00000000e+00, 7.11300000e+03,
        4.16000000e+02, 5.34200000e-01, 3.54400000e+03, 4.39000000e+03,
        1.41601000e+05]])

In [198]:
# examine the shape of X
# the results tell us the shape of X is 30 samples, with a single feature (column)
X4.shape

(2079, 41)

In [199]:
# Next, we assign the target variable, or the Salary column, to y
# Although it's possible to reshape this column, as we did with X, it's not required in this instance
y4 = gdf_feature_selection_1.txn_amt

In [200]:
# create an instance of the linear regression model
# Instantiation here means that the LinearRegression class is like a template that contains the algorithms required to perform linear regression
# From this template, a specific object called model is created that will analyze the data and store information specific to this dataset
model = linear_model.LinearRegression()
model = sm.OLS(Y, X).fit()

In [201]:
# fit/train the data
model.fit(X4,y4)

LinearRegression()

In [202]:
# use the predict method to generate preidctions (in this case we are predicting salary)
# the 30 output means that for the 30 input of years experience we put into the prediction, we got 30 predicted salaries
y_pred = model.predict(X4)
print(y_pred.shape)

(2079,)

In [203]:
model.summary

AttributeError: 'LinearRegression' object has no attribute 'summary'