## Import dependencies

In [1]:
import pandas as pd
from geopandas import GeoDataFrame, points_from_xy
import geopandas as gpd
import time

from cartoframes import read_carto, to_carto
from cartoframes.auth import set_default_credentials, Credentials
from cartoframes.viz import *

from cartoframes.data.services import Isolines

from cartoframes.data.observatory import Catalog, Dataset
from cartoframes.data.observatory import Enrichment

from sqlalchemy import create_engine
from sqlalchemy import inspect

from path import Path
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

## CARTOframes

In [2]:
USER_NAME = 'alaina' #@param {type:"string"}
API_KEY = '67aba9210c40630d5e4d0dadcdb379e5589c9ab4' #@param {type:"string"}


set_default_credentials(
    username=USER_NAME,
    api_key=API_KEY
)

In [3]:
# search the carto data observatory for sociodemographic data
datasets = Catalog().country('usa').category('demographics').provider('usa_acs').datasets

You can find more entities with the Global country filter. To apply that filter run:
	Catalog().country('glo')

In [4]:
# set the acs sociodemographic data from 2013-2018 to a dictionary
dataset = Dataset.get('acs_sociodemogr_fd3ffe5e')
dataset.to_dict()

{'slug': 'acs_sociodemogr_fd3ffe5e',
 'name': 'Sociodemographics - United States of America (Census Block Group, 2016, 5yrs)',
 'description': 'The American Community Survey (ACS) is an ongoing survey that provides vital information on a yearly basis about the USA and its people. This dataset contains only a subset of the variables that have been deemed most relevant. More info: https://www.census.gov/programs-surveys/acs/about.html',
 'category_id': 'demographics',
 'country_id': 'usa',
 'data_source_id': 'sociodemographics',
 'provider_id': 'usa_acs',
 'geography_name': 'Census Block Group - United States of America (2015)',
 'geography_description': 'Shoreline clipped TIGER/Line boundaries. More info: https://carto.com/blog/tiger-shoreline-clip/',
 'temporal_aggregation': '5yrs',
 'time_coverage': '[2012-01-01, 2017-01-01)',
 'update_frequency': None,
 'is_public_data': True,
 'lang': 'eng',
 'version': '20122016',
 'category_name': 'Demographics',
 'provider_name': 'American Community Survey',
 'geography_id': 'carto-do-public-data.carto.geography_usa_blockgroup_2015',
 'id': 'carto-do-public-data.usa_acs.demographics_sociodemographics_usa_blockgroup_2015_5yrs_20122016'}

In [5]:
# turn dictionary to dataframe
acs_df = dataset.to_dataframe()

## Use Sqlalchemy to connect to postgres database

In [7]:
engine = create_engine("postgresql://postgres:Apo20llo!@localhost:5432/final_project", echo = True)
connection = engine.connect()

2021-07-08 02:11:29,637 INFO sqlalchemy.engine.base.Engine select version()
select version()
2021-07-08 02:11:29,639 INFO sqlalchemy.engine.base.Engine {}
{}
2021-07-08 02:11:29,644 INFO sqlalchemy.engine.base.Engine select current_schema()
select current_schema()
2021-07-08 02:11:29,646 INFO sqlalchemy.engine.base.Engine {}
{}
2021-07-08 02:11:29,649 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-07-08 02:11:29,651 INFO sqlalchemy.engine.base.Engine {}
{}
2021-07-08 02:11:29,653 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-07-08 02:11:29,656 INFO sqlalchemy.engine.base.Engine {}
{}
2021-07-08 02:11:29,658 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
show standard_conforming_strings
2021-07-08 02:11:29,661 INFO sqlalchemy.engine.base.Engine {}
{}

In [8]:
inspector = inspect(engine)
inspector.get_table_names()

2021-07-08 02:11:32,156 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2021-07-08 02:11:32,158 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
{'schema': 'public'}

['mastercard_data', 'BAD']

In [9]:
# Query All Records in the the Database
mastercard_df = pd.read_sql("SELECT * FROM mastercard_data", connection)
mastercard_df.head()

2021-07-08 02:11:40,380 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-07-08 02:11:40,383 INFO sqlalchemy.engine.base.Engine {'name': 'SELECT * FROM mastercard_data'}
{'name': 'SELECT * FROM mastercard_data'}
2021-07-08 02:11:40,387 INFO sqlalchemy.engine.base.Engine SELECT * FROM mastercard_data
SELECT * FROM mastercard_data
2021-07-08 02:11:40,388 INFO sqlalchemy.engine.base.Engine {}
{}

,the_geom,geoid,industry,txn_amt
0,0106000020E61000000100000001030000000100000006...,360610048002,gro,0.0
1,0106000020E6100000010000000103000000010000000B...,360610044001,app,0.0
2,0106000020E6100000010000000103000000010000000B...,360610044001,ret,0.0
3,0106000020E6100000010000000103000000010000000B...,360610044001,gro,0.0
4,0106000020E6100000010000000103000000010000000B...,360610044001,gro,0.0

## Join the sociodemographic and mastercard datasets

In [10]:
# set variables
variables = Catalog().country('usa').category('demographics').provider('usa_acs').datasets[275].variables

You can find more entities with the Global country filter. To apply that filter run:
	Catalog().country('glo')

In [12]:
gdf_enrich = Enrichment().enrich_points(mastercard_df, variables, geom_col='the_geom')

In [13]:
# filter dataset for only retail category data
gdf_enrich_retail = gdf_enrich.loc[gdf_enrich['industry'] == 'ret']

# drop unecessary columns
gdf_enrich_retail.drop(['the_geom', 'industry', 'do_date'], axis=1, inplace = True)

# drop nas
gdf_enrich_retail.dropna(inplace=True)

NumExpr defaulting to 8 threads.

C:\Users\candy\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\candy\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## Preprocessing Process:
1. Define the features set
2. Define the target set
3. Split into training and testing sets
4. Create a StandardScaler instance
5. Fit the StandardScaler
6. Scale the data

In [16]:
# Define the features set.
X = gdf_enrich_retail.copy()
X = X.drop("txn_amt", axis=1)
#X = gdf_feature_selection.copy()

In [17]:
# Define the target set.
# the ravel() method performs the 
# same procedure on our target set data as the values attribute.
y = gdf_enrich_retail["txn_amt"].ravel()
y[:5]

array([  0.  , 152.38, 124.44,  99.17,   0.  ])

In [18]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=20)

In [19]:
# Creating a StandardScaler instance.
scaler = StandardScaler()

# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
# Create a random forest classifier.
# n_estimators will allow us to set the number of trees that will be created by the algorithm
# The best practice is to use between 64 and 128 random forests, though higher numbers are quite common despite the higher training time.
rf_model = RandomForestRegressor(n_estimators=500, random_state =20)

In [21]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [22]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [23]:
# Calculating the accuracy score.
score_train = rf_model.score(X_train_scaled, y_train)
score_train

0.546836693887622

In [24]:
score_test = rf_model.score(X_test_scaled, y_test)
score_test

0.4719422741136179

In [25]:
# We can sort the features by their importance.
# To improve this model, we can drop some of the lower ranked features.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.8650537910630807, 'geoid_x'),
 (0.007050241428745458, 'housing_built_1939_or_earlier'),
 (0.006555068195091887,
  'father_in_labor_force_one_parent_families_with_young_children'),
 (0.005945374069057812, 'female_21'),
 (0.005936502123189185, 'male_22_to_24'),
 (0.005693738841608728, 'father_one_parent_families_with_young_children'),
 (0.00560864149247651, 'walked_to_work'),
 (0.005267469093292265, 'armed_forces'),
 (0.005041271902813257, 'female_20'),
 (0.004772664170634435, 'female_22_to_24'),
 (0.004048053744509267, 'male_45_64_associates_degree'),
 (0.002062342367914049, 'male_18_to_19'),
 (0.0019669599231326622,
  'two_parents_mother_in_labor_force_families_with_young_children'),
 (0.001934256871789832, 'group_quarters'),
 (0.001348528469970592, 'geoid_y'),
 (0.0013421968631619605, 'in_undergrad_college'),
 (0.0013342734103214296,
  'renter_occupied_housing_units_paying_cash_median_gross_rent'),
 (0.0011270566963722537, 'median_rent'),
 (0.0010332518390798015, 'female_18_to_19'),
 (0.0008855564577922272, 'one_parent_families_with_young_children'),
 (0.0008374014122583308, 'dwellings_3_to_4_units'),
 (0.0007783217186971042, 'owner_occupied_housing_units_upper_value_quartile'),
 (0.0007699752547734291, 'dwellings_10_to_19_units'),
 (0.0007390165930874641, 'children_in_single_female_hh'),
 (0.000719985283795416, 'employed_pop'),
 (0.0007157095013527814, 'speak_spanish_at_home_low_english'),
 (0.0007083568984370807, 'rent_35_to_40_percent'),
 (0.0007046002824051288,
  'two_parents_not_in_labor_force_families_with_young_children'),
 (0.0006744661891268257, 'income_50000_59999'),
 (0.0006721517723539519, 'vacant_housing_units'),
 (0.0006477398333596895, 'employed_construction'),
 (0.0006326599071980611, 'male_20'),
 (0.0006316440009632925, 'mobile_homes'),
 (0.000617692949785491, 'occupation_sales_office'),
 (0.0006064766131698225,
  'employed_agriculture_forestry_fishing_hunting_mining'),
 (0.0005966477633115437,
  'employed_arts_entertainment_recreation_accommodation_food'),
 (0.0005889327039776317, 'vacant_housing_units_for_sale'),
 (0.0005855256914410303, 'gini_index'),
 (0.0005836285229617523, 'less_than_high_school_graduate'),
 (0.000576479927437035, 'male_40_to_44'),
 (0.0005751450753576174, 'pop_determined_poverty_status'),
 (0.0005748296588657059, 'employed_retail_trade'),
 (0.000571399095279924, 'vacant_housing_units_for_rent'),
 (0.0005688366504096496, 'white_male_45_54'),
 (0.0005639804872527812, 'male_67_to_69'),
 (0.0005626861063102511, 'population_3_years_over'),
 (0.0005562137962941276, 'occupation_services'),
 (0.0005547539153272884,
  'two_parents_father_in_labor_force_families_with_young_children'),
 (0.0005477948383425412, 'rent_15_to_20_percent'),
 (0.0005455535660099076, 'male_65_to_66'),
 (0.0005439552901945011, 'commute_less_10_mins'),
 (0.0005400204765207658, 'asian_male_55_64'),
 (0.0005351443034863628, 'households'),
 (0.0005230380866830393, 'in_grades_5_to_8'),
 (0.0005224364473670899, 'hispanic_male_45_54'),
 (0.0005198106156645148, 'in_grades_9_to_12'),
 (0.0005184955741863575, 'hispanic_male_55_64'),
 (0.0005154359587712387, 'poverty'),
 (0.0005073265573926339, 'do_area'),
 (0.0004898055496309373, 'male_25_to_29'),
 (0.0004795158530122664, 'income_25000_29999'),
 (0.0004774382521140381, 'owner_occupied_housing_units_median_value'),
 (0.0004733007383675244, 'dwellings_5_to_9_units'),
 (0.0004724764809867862, 'male_pop'),
 (0.0004667561758181544, 'male_45_64_some_college'),
 (0.0004646189195885081, 'employed_manufacturing'),
 (0.00046032102141051754, 'two_or_more_races_pop'),
 (0.00045814083398821855, 'female_10_to_14'),
 (0.00045499200901454685, 'hispanic_any_race'),
 (0.0004499659702362289, 'median_age'),
 (0.00044903627900874345, 'rent_20_to_25_percent'),
 (0.0004444091588094694, 'occupation_production_transportation_material'),
 (0.0004404859698796454, 'housing_units'),
 (0.00043450562223474844, 'male_45_to_64'),
 (0.00042958952177793235, 'income_15000_19999'),
 (0.00042719827156138975, 'income_less_10000'),
 (0.00042572764088117033, 'households_public_asst_or_food_stamps'),
 (0.0004245132398448101, 'different_house_year_ago_same_city'),
 (0.0004171186306862604, 'population_1_year_and_over'),
 (0.0004141259095620488, 'civilian_labor_force'),
 (0.00040451643004584887, 'amerindian_pop'),
 (0.0004016492991943695, 'male_30_to_34'),
 (0.0004012455163424616, 'commute_60_more_mins'),
 (0.0003964184416587236, 'in_grades_1_to_4'),
 (0.0003915472964257627, 'housing_units_renter_occupied'),
 (0.0003899643725662819, 'percent_income_spent_on_rent'),
 (0.00038507278943832155, 'some_college_and_associates_degree'),
 (0.00038420891793601635, 'male_45_64_bachelors_degree'),
 (0.0003824665678282017, 'black_pop'),
 (0.0003801417055503067, 'occupied_housing_units'),
 (0.0003776377146948702, 'male_45_64_less_than_9_grade'),
 (0.00037227970691753047, 'high_school_diploma'),
 (0.0003664499271631009, 'bachelors_degree'),
 (0.00035669030141537866, 'total_pop'),
 (0.0003514523281141093, 'housing_built_2005_or_later'),
 (0.0003502646887705501, 'white_male_55_64'),
 (0.00034112162755304816, 'families_with_young_children'),
 (0.0003386484597406416, 'married_households'),
 (0.0003372203924897344, 'pop_in_labor_force'),
 (0.00033647807169263395, 'male_35_to_39'),
 (0.0003320278773344665, 'bachelors_degree_or_higher_25_64'),
 (0.0003305100132892476, 'income_200000_or_more'),
 (0.0003282178854414839, 'occupation_management_arts'),
 (0.000327071753464768, 'dwellings_1_units_attached'),
 (0.00032619036468074265, 'unemployed_pop'),
 (0.00032538290450132284, 'nonfamily_households'),
 (0.00031779004142730937, 'income_45000_49999'),
 (0.00031613827130596217, 'in_school'),
 (0.00031547712703315753, 'no_car'),
 (0.0003147882349971572, 'rent_40_to_50_percent'),
 (0.0003136182748699755, 'employed_transportation_warehousing_utilities'),
 (0.0003122253492540979, 'female_30_to_34'),
 (0.00030915113085258, 'female_female_households'),
 (0.0003074689109124716, 'male_5_to_9'),
 (0.00030699802904098273, 'commute_15_19_mins'),
 (0.0003057391835568255, 'high_school_including_ged'),
 (0.00030476985945516213, 'income_125000_149999'),
 (0.0003041215055888015, 'female_75_to_79'),
 (0.0002995922341110887, 'hispanic_pop'),
 (0.0002981367927074936, 'commuters_by_public_transportation'),
 (0.0002956513317774795, 'other_race_pop'),
 (0.00029275379726836925, 'asian_pop'),
 (0.0002896371410294336, 'housing_built_2000_to_2004'),
 (0.00028431730020941643, 'owner_occupied_housing_units_lower_value_quartile'),
 (0.00028424242867513703, 'male_15_to_17'),
 (0.0002821872592915067, 'rent_under_10_percent'),
 (0.0002775932036531194, 'associates_degree'),
 (0.00027606472341053066, 'income_75000_99999'),
 (0.0002752191895604951, 'children'),
 (0.00027322746657382533, 'aggregate_travel_time_to_work'),
 (0.00027035944076835423, 'commute_10_14_mins'),
 (0.0002700526618934738, 'dwellings_20_to_49_units'),
 (0.0002693360898360063, 'rent_25_to_30_percent'),
 (0.000268029707223503, 'male_10_to_14'),
 (0.00026552318035360904, 'black_male_55_64'),
 (0.0002652748243826014, 'not_hispanic_pop'),
 (0.0002641061922859403, 'median_year_structure_built'),
 (0.0002623837749925665, 'dwellings_2_units'),
 (0.00025943786388666305, 'female_85_and_over'),
 (0.00025934409187819977, 'pop_25_years_over'),
 (0.0002573017837828634, 'female_62_to_64'),
 (0.0002554393804182851, 'income_35000_39999'),
 (0.0002538236899895792, 'asian_male_45_54'),
 (0.0002446013554109683, 'pop_5_years_over'),
 (0.00023675925189517788, 'female_70_to_74'),
 (0.00023345261382464385, 'commute_25_29_mins'),
 (0.0002315642271167359, 'rent_burden_not_computed'),
 (0.00023082062620431812, 'female_15_to_17'),
 (0.00022776837296464226, 'income_10000_14999'),
 (0.00021988113223298149, 'one_car'),
 (0.00021972834864523994, 'employed_science_management_admin_waste'),
 (0.00021704800096379465, 'worked_at_home'),
 (0.0002157733048148066, 'male_45_64_high_school'),
 (0.0002142780196748253, 'income_150000_199999'),
 (0.00021377047341846172, 'income_100000_124999'),
 (0.00021225185081663595, 'male_45_64_grade_9_12'),
 (0.00020938900916959524, 'employed_wholesale_trade'),
 (0.0002080611939016536, 'male_21'),
 (0.00020741850122598247, 'black_male_45_54'),
 (0.00020481817167609066, 'owner_occupied_housing_units'),
 (0.0002044373123008314, 'no_cars'),
 (0.00020156414286987654, 'commuters_by_carpool'),
 (0.00019923294841523196, 'female_80_to_84'),
 (0.0001899687357794241, 'two_cars'),
 (0.0001892791603689795, 'commute_30_34_mins'),
 (0.00018891294175883399, 'not_in_labor_force'),
 (0.0001874355439540976, 'dwellings_1_units_detached'),
 (0.00018554908713885892, 'income_30000_34999'),
 (0.00018219919366143478, 'male_45_to_49'),
 (0.0001809621064249276, 'two_parent_families_with_young_children'),
 (0.0001780681583849369, 'female_pop'),
 (0.00017690134099179446, 'rent_30_to_35_percent'),
 (0.0001765616096369653, 'commuters_16_over'),
 (0.0001762011588552964, 'rent_over_50_percent'),
 (0.00017492667078034178, 'speak_spanish_at_home'),
 (0.00017320958384972967,
  'occupation_natural_resources_construction_maintenance'),
 (0.00017055243871164208, 'million_dollar_housing_units'),
 (0.0001672406274943949, 'pop_25_64'),
 (0.00016420956781127146, 'different_house_year_ago_different_city'),
 (0.00016392004578161633, 'male_45_64_graduate_degree'),
 (0.00016371472084007066, 'female_25_to_29'),
 (0.0001615509900413847, 'graduate_professional_degree'),
 (0.00016106482296025847, 'male_85_and_over'),
 (0.00015977695375431113, 'male_male_households'),
 (0.00015873321320890372, 'commuters_by_subway_or_elevated'),
 (0.0001552461454534486, 'female_65_to_66'),
 (0.0001504162024733394, 'commute_35_44_mins'),
 (0.0001495207745850154, 'income_per_capita'),
 (0.0001450885309281259, 'workers_16_and_over'),
 (0.00013882444081648963, 'median_income'),
 (0.0001378646069090048, 'commuters_by_car_truck_van'),
 (0.00013495490481136937, 'four_more_cars'),
 (0.0001348417026932152, 'income_60000_74999'),
 (0.0001312302918209151, 'male_under_5'),
 (0.0001285459971059584, 'commuters_drove_alone'),
 (0.0001270170355962317, 'employed_other_services_not_public_admin'),
 (0.00012252622128400384, 'commute_20_24_mins'),
 (0.0001222877904269263, 'female_55_to_59'),
 (0.00012124297668284257, 'female_under_5'),
 (0.00011999168061662389, 'female_60_to_61'),
 (0.00011865195488080312, 'family_households'),
 (0.00011812365012938779, 'less_one_year_college'),
 (0.0001118177020245466, 'male_80_to_84'),
 (0.00011095531377983169, 'female_50_to_54'),
 (0.00011055651396394343, 'employed_public_administration'),
 (0.00010824454257910361, 'rent_10_to_15_percent'),
 (0.0001072092437979101, 'bachelors_degree_2'),
 (0.00010596821881738613, 'commute_45_59_mins'),
 (9.666692655286175e-05, 'employed_information'),
 (9.474003893690378e-05, 'male_55_to_59'),
 (8.639892227130808e-05, 'employed_education_health_social'),
 (8.620825290731946e-05, 'speak_only_english_at_home'),
 (8.311538426683704e-05, 'sales_office_employed'),
 (8.258596583242849e-05, 'female_35_to_39'),
 (7.832018138063739e-05, 'mortgaged_housing_units'),
 (7.783113420099918e-05, 'male_50_to_54'),
 (7.693713360321791e-05, 'female_45_to_49'),
 (7.649598079661674e-05, 'management_business_sci_arts_employed'),
 (7.442361637006729e-05, 'dwellings_50_or_more_units'),
 (7.433593369902454e-05, 'female_40_to_44'),
 (7.225980549086856e-05, 'one_year_more_college'),
 (7.153398815779284e-05, 'income_40000_44999'),
 (6.857326581195164e-05, 'employed_finance_insurance_real_estate'),
 (6.503376946898516e-05, 'income_20000_24999'),
 (6.149178034972585e-05, 'masters_degree'),
 (6.054429379463788e-05, 'three_cars'),
 (5.268485175589749e-05, 'female_5_to_9'),
 (4.739065837280737e-05, 'male_70_to_74'),
 (4.710024656595305e-05, 'not_us_citizen_pop'),
 (4.287279217392139e-05, 'pop_16_over'),
 (4.055124739650245e-05,
  'two_parents_in_labor_force_families_with_young_children'),
 (3.593144947528344e-05, 'male_75_to_79'),
 (2.5817295753979802e-05, 'female_67_to_69'),
 (2.0305395556633126e-05, 'white_pop'),
 (1.7418502587005672e-05, 'commuters_by_bus')]

In [106]:
gdf_feature_selection = gdf_enrich_retail[['female_20','two_parents_mother_in_labor_force_families_with_young_children',
                                         'male_18_to_19', 'in_undergrad_college','group_quarters','female_18_to_19',
                                         'median_rent','renter_occupied_housing_units_paying_cash_median_gross_rent',
                                         'female_21','father_in_labor_force_one_parent_families_with_young_children',
                                          'female_22_to_24','children_in_single_female_hh','workers_16_and_over',
                                          'walked_to_work','male_22_to_24','male_65_to_66']]