## Import dependencies

In [35]:
import pandas as pd
from geopandas import GeoDataFrame, points_from_xy
import geopandas as gpd
import time

from cartoframes import read_carto, to_carto
from cartoframes.auth import set_default_credentials, Credentials
from cartoframes.viz import *

from cartoframes.data.services import Isolines

from cartoframes.data.observatory import Catalog, Dataset
from cartoframes.data.observatory import Enrichment

from sqlalchemy import create_engine
from sqlalchemy import inspect

from path import Path
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

## CARTOframes

In [11]:
USER_NAME = 'alaina' #@param {type:"string"}
API_KEY = '67aba9210c40630d5e4d0dadcdb379e5589c9ab4' #@param {type:"string"}


set_default_credentials(
    username=USER_NAME,
    api_key=API_KEY
)

In [12]:
# search the carto data observatory for sociodemographic data
datasets = Catalog().country('usa').category('demographics').provider('usa_acs').datasets

You can find more entities with the Global country filter. To apply that filter run:
	Catalog().country('glo')

In [22]:
# set the acs sociodemographic data from 2013-2018 to a dictionary
dataset = Dataset.get('acs_sociodemogr_fd3ffe5e')
dataset.to_dict()

{'slug': 'acs_sociodemogr_fd3ffe5e',
 'name': 'Sociodemographics - United States of America (Census Block Group, 2016, 5yrs)',
 'description': 'The American Community Survey (ACS) is an ongoing survey that provides vital information on a yearly basis about the USA and its people. This dataset contains only a subset of the variables that have been deemed most relevant. More info: https://www.census.gov/programs-surveys/acs/about.html',
 'category_id': 'demographics',
 'country_id': 'usa',
 'data_source_id': 'sociodemographics',
 'provider_id': 'usa_acs',
 'geography_name': 'Census Block Group - United States of America (2015)',
 'geography_description': 'Shoreline clipped TIGER/Line boundaries. More info: https://carto.com/blog/tiger-shoreline-clip/',
 'temporal_aggregation': '5yrs',
 'time_coverage': '[2012-01-01, 2017-01-01)',
 'update_frequency': None,
 'is_public_data': True,
 'lang': 'eng',
 'version': '20122016',
 'category_name': 'Demographics',
 'provider_name': 'American Community Survey',
 'geography_id': 'carto-do-public-data.carto.geography_usa_blockgroup_2015',
 'id': 'carto-do-public-data.usa_acs.demographics_sociodemographics_usa_blockgroup_2015_5yrs_20122016'}

In [23]:
# turn dictionary to dataframe
acs_df = dataset.to_dataframe()

In [173]:
acs_df

,geoid,do_date,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,...,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,employed_pop,unemployed_pop,pop_in_labor_force,not_in_labor_force,armed_forces,civilian_labor_force
0,360710119004,2012-01-01,350.0,83.0,109.0,241.0,83.5,0.0,0.0,0.0,...,122.0,20.0,11.0,46.0,0.0,0.0,0.0,350.0,0.0,0.0
1,340076113001,2012-01-01,382.0,29.0,183.0,199.0,77.1,0.0,9.0,0.0,...,180.0,0.0,0.0,8.0,0.0,0.0,0.0,362.0,0.0,0.0
2,481130078222,2012-01-01,150.0,120.0,44.0,106.0,87.9,0.0,0.0,0.0,...,40.0,3.0,4.0,49.0,0.0,0.0,0.0,150.0,0.0,0.0
3,360050144001,2012-01-01,280.0,206.0,140.0,140.0,74.2,0.0,0.0,16.0,...,77.0,32.0,0.0,17.0,0.0,0.0,0.0,264.0,0.0,0.0
4,530050112006,2012-01-01,167.0,167.0,35.0,132.0,72.2,0.0,0.0,0.0,...,13.0,24.0,0.0,47.0,0.0,0.0,0.0,167.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220328,240338010042,2012-01-01,3680.0,1152.0,1767.0,1913.0,43.7,41.0,130.0,124.0,...,712.0,135.0,245.0,540.0,1868.0,115.0,2018.0,937.0,35.0,1983.0
220329,291892108041,2012-01-01,4051.0,1212.0,1696.0,2355.0,41.0,12.0,174.0,71.0,...,483.0,226.0,262.0,688.0,1948.0,99.0,2047.0,1309.0,0.0,2047.0
220330,131210103012,2012-01-01,6415.0,2031.0,2997.0,3418.0,33.6,481.0,244.0,244.0,...,706.0,144.0,549.0,390.0,2474.0,340.0,2814.0,1629.0,0.0,2814.0
220331,481576735001,2012-01-01,3679.0,1381.0,1504.0,2175.0,42.0,16.0,43.0,59.0,...,319.0,77.0,432.0,399.0,2087.0,88.0,2200.0,752.0,25.0,2175.0
220332,481390608012,2012-01-01,4267.0,1430.0,2098.0,2169.0,40.0,36.0,137.0,205.0,...,401.0,271.0,313.0,399.0,2215.0,216.0,2448.0,909.0,17.0,2431.0

## Use Sqlalchemy to connect to postgres database

In [17]:
engine = create_engine("postgresql://postgres:Apo20llo!@localhost:5432/final_project", echo = True)
connection = engine.connect()

2021-07-08 00:05:53,320 INFO sqlalchemy.engine.base.Engine select version()
select version()
2021-07-08 00:05:53,326 INFO sqlalchemy.engine.base.Engine {}
{}
2021-07-08 00:05:53,331 INFO sqlalchemy.engine.base.Engine select current_schema()
select current_schema()
2021-07-08 00:05:53,335 INFO sqlalchemy.engine.base.Engine {}
{}
2021-07-08 00:05:53,341 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-07-08 00:05:53,346 INFO sqlalchemy.engine.base.Engine {}
{}
2021-07-08 00:05:53,353 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-07-08 00:05:53,358 INFO sqlalchemy.engine.base.Engine {}
{}
2021-07-08 00:05:53,364 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
show standard_conforming_strings
2021-07-08 00:05:53,368 INFO sqlalchemy.engine.base.Engine {}
{}

In [16]:
inspector = inspect(engine)
inspector.get_table_names()

2021-07-08 00:05:42,228 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2021-07-08 00:05:42,231 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
{'schema': 'public'}

['mastercard_original']

In [21]:
# Query All Records in the the Database
mastercard_df = pd.read_sql("SELECT * FROM mastercard_original", connection)
mastercard_df.head()

2021-07-08 00:10:02,013 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-07-08 00:10:02,017 INFO sqlalchemy.engine.base.Engine {'name': 'SELECT * FROM mastercard_original'}
{'name': 'SELECT * FROM mastercard_original'}
2021-07-08 00:10:02,023 INFO sqlalchemy.engine.base.Engine SELECT * FROM mastercard_original
SELECT * FROM mastercard_original
2021-07-08 00:10:02,026 INFO sqlalchemy.engine.base.Engine {}
{}

,the_geom,geoid,industry,txn_amt
0,0106000020E6100000010000000103000000010000000B...,361000000000,ret,152.38
1,0106000020E6100000010000000103000000010000000B...,361000000000,gro,225.84
2,0106000020E6100000010000000103000000010000000B...,361000000000,ret,124.44
3,0106000020E61000000100000001030000000100000015...,360000000000,gro,125.14
4,0106000020E6100000010000000103000000010000000B...,361000000000,gro,186.38

## Join the sociodemographic and mastercard datasets

In [29]:
# set variables
variables = Catalog().country('usa').category('demographics').provider('usa_acs').datasets[275].variables

You can find more entities with the Global country filter. To apply that filter run:
	Catalog().country('glo')

In [28]:
gdf_enrich = Enrichment().enrich_points(mastercard_df, variables, geom_col='the_geom')

In [180]:
gdf_enrich['geoid_y']

0       3603808.0
1       3603808.0
2       3603808.0
3             NaN
4       3603808.0
          ...
5456          NaN
5457          NaN
5458          NaN
5459          NaN
5460          NaN
Name: geoid_y, Length: 5461, dtype: float64

In [54]:
# filter dataset for only retail category data
gdf_enrich_retail = gdf_enrich.loc[gdf_enrich['industry'] == 'ret']

# drop unecessary columns
gdf_enrich_retail.drop(['the_geom', 'industry', 'geoid_x', 'geoid_y', 'do_date'], axis=1, inplace = True)

# drop nas
gdf_enrich_retail.dropna(inplace=True)

C:\Users\candy\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\candy\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [176]:
gdf_enrich_retail

,txn_amt,in_grades_5_to_8,owner_occupied_housing_units,employed_finance_insurance_real_estate,employed_public_administration,not_us_citizen_pop,commute_less_10_mins,median_age,commute_10_14_mins,female_62_to_64,...,asian_pop,amerindian_pop,dwellings_50_or_more_units,male_5_to_9,male_80_to_84,female_10_to_14,female_21,asian_male_55_64,commuters_by_car_truck_van,do_area
0,152.38,1980.0,25688.0,20414.0,2992.0,17130.0,5728.0,36.7,7563.0,2578.0,...,22871.0,200.0,71996.0,1562.0,1242.0,1034.0,1604.0,762.0,6174.0,4.194152e+06
2,124.44,1980.0,25688.0,20414.0,2992.0,17130.0,5728.0,36.7,7563.0,2578.0,...,22871.0,200.0,71996.0,1562.0,1242.0,1034.0,1604.0,762.0,6174.0,4.194152e+06
18,131.41,1980.0,25688.0,20414.0,2992.0,17130.0,5728.0,36.7,7563.0,2578.0,...,22871.0,200.0,71996.0,1562.0,1242.0,1034.0,1604.0,762.0,6174.0,4.194152e+06
22,108.41,1980.0,25688.0,20414.0,2992.0,17130.0,5728.0,36.7,7563.0,2578.0,...,22871.0,200.0,71996.0,1562.0,1242.0,1034.0,1604.0,762.0,6174.0,4.194152e+06
24,114.65,1980.0,25688.0,20414.0,2992.0,17130.0,5728.0,36.7,7563.0,2578.0,...,22871.0,200.0,71996.0,1562.0,1242.0,1034.0,1604.0,762.0,6174.0,4.194152e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5288,426.55,2198.0,19141.0,20519.0,1778.0,22318.0,6915.0,36.8,9279.0,1976.0,...,23234.0,263.0,64747.0,1991.0,1004.0,1952.0,953.0,870.0,5040.0,7.973635e+06
5289,327.35,2198.0,19141.0,20519.0,1778.0,22318.0,6915.0,36.8,9279.0,1976.0,...,23234.0,263.0,64747.0,1991.0,1004.0,1952.0,953.0,870.0,5040.0,7.973635e+06
5291,424.54,2198.0,19141.0,20519.0,1778.0,22318.0,6915.0,36.8,9279.0,1976.0,...,23234.0,263.0,64747.0,1991.0,1004.0,1952.0,953.0,870.0,5040.0,7.973635e+06
5292,38.76,2198.0,19141.0,20519.0,1778.0,22318.0,6915.0,36.8,9279.0,1976.0,...,23234.0,263.0,64747.0,1991.0,1004.0,1952.0,953.0,870.0,5040.0,7.973635e+06
5294,348.34,2198.0,19141.0,20519.0,1778.0,22318.0,6915.0,36.8,9279.0,1976.0,...,23234.0,263.0,64747.0,1991.0,1004.0,1952.0,953.0,870.0,5040.0,7.973635e+06

## Preprocessing Process:
1. Define the features set
2. Define the target set
3. Split into training and testing sets
4. Create a StandardScaler instance
5. Fit the StandardScaler
6. Scale the data

In [150]:
# Define the features set.
X = gdf_enrich_retail.copy()
X = X.drop("txn_amt", axis=1)
#X = gdf_feature_selection.copy()

In [151]:
# Define the target set.
# the ravel() method performs the 
# same procedure on our target set data as the values attribute.
y = gdf_enrich_retail["txn_amt"].ravel()
y[:5]

array([152.38, 124.44, 131.41, 108.41, 114.65])

In [166]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

In [167]:
# Creating a StandardScaler instance.
scaler = StandardScaler()

# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [168]:
# Create a random forest classifier.
# n_estimators will allow us to set the number of trees that will be created by the algorithm
# The best practice is to use between 64 and 128 random forests, though higher numbers are quite common despite the higher training time.
rf_model = RandomForestRegressor(n_estimators=20000, random_state =20)

In [169]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [170]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [171]:
# Calculating the accuracy score.
score_train = rf_model.score(X_train_scaled, y_train)
score_train

0.05221292474017525

In [172]:
score_test = rf_model.score(X_test_scaled, y_test)
score_test

0.0360988714586864

In [116]:
# We can sort the features by their importance.
# To improve this model, we can drop some of the lower ranked features.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.14777842218103474, 'female_20'),
 (0.12597190584305207, 'male_65_to_66'),
 (0.12461502630516655, 'workers_16_and_over'),
 (0.10916915848904016, 'children_in_single_female_hh'),
 (0.10769200892979588,
  'two_parents_mother_in_labor_force_families_with_young_children'),
 (0.0981001359496742, 'male_18_to_19'),
 (0.043781288523136806, 'group_quarters'),
 (0.03932609600682556, 'in_undergrad_college'),
 (0.03291751201932306,
  'renter_occupied_housing_units_paying_cash_median_gross_rent'),
 (0.032695448594515, 'median_rent'),
 (0.03205588302426244, 'male_22_to_24'),
 (0.030525864633347142, 'female_18_to_19'),
 (0.02279003042823994, 'female_21'),
 (0.022182536939527008, 'female_22_to_24'),
 (0.015815565704338015, 'walked_to_work'),
 (0.01458311642872136,
  'father_in_labor_force_one_parent_families_with_young_children')]

In [106]:
gdf_feature_selection = gdf_enrich_retail[['female_20','two_parents_mother_in_labor_force_families_with_young_children',
                                         'male_18_to_19', 'in_undergrad_college','group_quarters','female_18_to_19',
                                         'median_rent','renter_occupied_housing_units_paying_cash_median_gross_rent',
                                         'female_21','father_in_labor_force_one_parent_families_with_young_children',
                                          'female_22_to_24','children_in_single_female_hh','workers_16_and_over',
                                          'walked_to_work','male_22_to_24','male_65_to_66']]